.landing_container{
    width: 60%;
    margin: auto;
}

.landing_title{
    text-align: center;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    color: #003d73;
}

.landing_slogan{
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #003d73;
}

.landing_logo{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
